{% extends 'base\base.html' %}
{% block estilos %}
    
{% endblock %}
{% block contenido %}
    
<div class="card">
    <h5 class="card-header card text-white bg-primary mb-3">Ordenes Registradas</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
   
    <div>
        <a href="{% url 'order:order_create' %}" class="btn btn-success">
            <i class="bi bi-person-add"></i>
            Agregar Ordenes
        </a>
    </div>
    <div class="table table-striped"></div>
    <table id="dataTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>ID</th>
                <th>Numero de Orden</th>
                <th>Nombre de Empleado</th>
                <th>Fecha de Pedido</th>
                <th>Metodo de Pago</th>
                <th>Estado de Pago</th>
                <th>Estado Pedido</th>
                <th>CAI</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for Order in order %}   
            <tr>
                <td>
                    <a href="{% url 'order:order_edit' Order.id %}" class="btn btn-primary">
                        <i class="bi bi-pencil-square"> </i>
                        
                    </a>
                    <a href="{% url 'order:order_delete' Order.id %}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                        
                    </a>
                </td>
                <td>{{Order.id}}</td>
                <td>{{Order.num_order}}</td>
                <td>{{Order.nombre_empleado}}</td>
                <td>{{Order.fecha_de_pedido}}</td>
                <td>{{Order.metodo_de_pago}}</td>
                <td>{{Order.estado_pago}}</td>
                <td>{{Order.estado_pedido}}</td>
                <td>{{Order.cai.cai}}</td>
                <td>{{Order.total}}</td>
            </tr>
        {% endfor %}   
        </tbody>
    </table>
</div>
</div>

{% load static %}
<script src="{% static '/base/vendor/jquery/jquery.js' %}"></script>

<script>
    $(document).ready(function() {

        // Call the dataTables jQuery plugin
        $(document).ready(function() {
        $('#dataTable').DataTable();
  });
  
    });
</script>

{% endblock %}
