{% extends 'base/base.html' %}
{% block contenido %}

<div class="card">
<div class="card-body">
    <h1>¿Estás seguro que deseas eliminar este registro de Ventas?</h1>
   

    {% if tiene_productos %}
            <div class="alert alert-danger" role="alert">
                No puedes eliminar este proveedor porque está vinculado con uno o más productos.
            </div>
        {% endif %}

        
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">ID del impuesto:</label>
            <input type="text"  class="form-control" value="{{venta_historial.foranea}}" disabled>
        </div>    
        <div class="form-group">
            <label for="">Cambio del Cliente:</label>
            <input type="text" class="form-control" value="{{venta_historial.cliente_cambio}}" disabled>
        </div>

        <div class="form-group">
            <label for="">Cambio de la Cantidad de Producto:</label>
            <input type="text" class="form-control" value="{{venta_historial.cantidad_producto_cambio}}" disabled> 
        </div>

        <div class="form-group">
            <label for="">Cambio del Precio de Venta:</label>
            <input type="text" class="form-control" value="{{venta_historial.precio_venta_cambio}}" disabled> 
        </div>

        <div class="form-group">
            <label for="">Cambio de la Fecha de Venta:</label>
            <input type="text" class="form-control" value="{{venta_historial.fecha_venta_cambio}}" disabled> 
        </div>

        <div class="form-group">
            <label for="">Cambio del Metodo de Pago:</label>
            <input type="text" class="form-control" value="{{venta_historial.metodo_pago_cambio}}" disabled> 
        </div>

        <div class="form-group">
            <label for="">Cambio del Total de Venta:</label>
            <input type="text" class="form-control" value="{{venta_historial.total_venta_cambio}}" disabled> 
        </div>

        <div class="form-group">
            <label for="">Cambio del Sucursal:</label>
            <input type="text" class="form-control" value="{{venta_historial.sucursal_cambio}}" disabled> 
        </div>

        <div class="form-group">
            <label for="">Cambio del Usuario:</label>
            <input type="text" class="form-control" value="{{venta_historial.usuario_cambio}}" disabled> 
        </div>

        <div class="form-group">
            <label for="">Cambio del Num. de Factura:</label>
            <input type="text" class="form-control" value="{{venta_historial.num_factura_cambio}}" disabled> 
        </div>

       


        <div class="form-group">
            <label for="">Fecha:</label>
            <input type="text" class="form-control" value="{{venta_historial.Fecha_Hora|date:"Y-m-d"}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Hora:</label>
            <input type="text" class="form-control" value="{{venta_historial.Fecha_Hora|time:"H:i:s"}}" disabled> 
        </div>
        
       
        <input type="submit" value="Eliminar" class="btn btn-danger{% if tiene_productos %} disabled{% endif %}">
    </form>
   <div class="table table-striped"></div>
    <a href="{% url 'sale_history:home_sale_history' %}" class="btn btn-primary">Cancelar</a>
</div>
</div>
{% endblock %}