{% extends 'base/base.html' %}
{% block contenido %}

<div class="card">
<div class="card-body">
    <h1>¿Estás seguro que deseas eliminar este Empleado?</h1>

    {% if tiene_productos %}
            <div class="alert alert-danger" role="alert">
                No puedes eliminar esta devolución porque está vinculada con uno o más Ordenes.
            </div>
        {% endif %}

        {% if tiene_venta %}
            <div class="alert alert-danger" role="alert">
                No puedes eliminar esta devolución porque está vinculada con uno o más Ventas.
            </div>
        {% endif %}

   
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Nombre:</label>
            <input type="text"  class="form-control" value="{{usuarios.nombre}}" disabled>
        </div>    
        <div class="form-group">
            <label for="">Apellido:</label>
            <input type="text" class="form-control" value="{{usuarios.apellido}}" disabled>
        </div>
        <div class="form-group">
            <label for="">Direccion:</label>
            <input type="text" class="form-control" value="{{usuarios.direccion}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Fecha de Nacimiento:</label>
            <input type="text" class="form-control" value="{{usuarios.fecha_de_nacimiento}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Telefono:</label>
            <input type="text" class="form-control" value="{{usuarios.telefono}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Fecha de Contratatacion:</label>
            <input type="text" class="form-control" value="{{usuarios.fecha_de_contratatacion}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Genero:</label>
            <input type="text" class="form-control" value="{{usuarios.genero}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Salario:</label>
            <input type="text" class="form-control" value="{{usuarios.salario}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Tipo de Documento:</label>
            <input type="text" class="form-control" value="{{usuarios.tipo_de_documento}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Sucursal:</label>
            <input type="text" class="form-control" value="{{usuarios.sucursal}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Estado Civil:</label>
            <input type="text" class="form-control" value="{{usuarios.estado_civil}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Horario de Trabajo:</label>
            <input type="text" class="form-control" value="{{usuarios.horario_trabajo}}" disabled> 
        </div>
        <input type="submit" value="Eliminar" class="btn btn-danger{% if tiene_productos %} disabled{% endif %}{% if tiene_venta %} disabled{% endif %}">
    </form>
   <div class="table table-striped"></div>
    <a href="{% url 'users:home_users' %}" class="btn btn-primary">Cancelar</a>
</div>
</div>

{% endblock %}