{% extends 'base\base.html' %}

{% block estilos %}
    
{% endblock %}

{% block contenido %}
    
<div class="card">
    <h5 class="card-header card text-white bg-primary mb-3">Impuestos Registrados</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
   
    <div>
        <a href="{% url 'tax:tax_create' %}" class="btn btn-success">
            <i class="bi bi-person-add"></i>
            Agregar Impuesto
        </a>
    </div>
    <div class="table table-striped"></div>
    <table id="dataTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tasa</th>
            </tr>
        </thead>
        <tbody>
        {% for tax in impuestos %}   
            <tr>
                <td>
                    <a href="{% url 'tax:tax_edit' tax.id %}" class="btn btn-primary">
                        <i class="bi bi-pencil-square"> </i>
                    </a>
                    <a href="{% url 'tax:tax_delete' tax.id %}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
                <td>{{ tax.id }}</td>
                <td>{{ tax.nombre }}</td>
                <td>{{ tax.tasa }}</td>
            </tr>
        {% endfor %}   
        </tbody>
    </table>
</div>
</div>

{% load static %}
<script src="{% static '/base/vendor/jquery/jquery.js' %}"></script>

<script>
    $(document).ready(function() {

        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
  
    });
</script>

{% endblock %}
