{% extends 'base/base.html' %}
{% block contenido %}

<div class="card">
<div class="card-body">
    <h1>¿Estás seguro que deseas eliminar este registro de Impuestos?</h1>
   

    {% if tiene_productos %}
            <div class="alert alert-danger" role="alert">
                No puedes eliminar este proveedor porque está vinculado con uno o más productos.
            </div>
        {% endif %}

        
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">ID del impuesto:</label>
            <input type="text"  class="form-control" value="{{impuesto_historial.foranea}}" disabled>
        </div>    
        <div class="form-group">
            <label for="">Cambio del Nombre:</label>
            <input type="text" class="form-control" value="{{impuesto_historial.nombre_cambio}}" disabled>
        </div>
        <div class="form-group">
            <label for="">Cambio de la Tasa:</label>
            <input type="text" class="form-control" value="{{impuesto_historial.tasa_cambio}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Fecha:</label>
            <input type="text" class="form-control" value="{{impuesto_historial.Fecha_Hora|date:"Y-m-d"}}" disabled> 
        </div>
        <div class="form-group">
            <label for="">Hora:</label>
            <input type="text" class="form-control" value="{{impuesto_historial.Fecha_Hora|time:"H:i:s"}}" disabled> 
        </div>
        
       
        <input type="submit" value="Eliminar" class="btn btn-danger{% if tiene_productos %} disabled{% endif %}">
    </form>
   <div class="table table-striped"></div>
    <a href="{% url 'tax_history:home_tax_history' %}" class="btn btn-primary">Cancelar</a>
</div>
</div>
{% endblock %}