{% extends 'base/base.html' %}

{% block contenido %}
    
<div class="card">
    <h5 class="card-header card text-white bg-primary mb-3">Ciudades Registradas</h5>
    <div class="card-body">
        <div>
            <a href="{% url 'city:city_create' %}" class="btn btn-success">
                <i class="bi bi-person-add"></i>
                Agregar Ciudad
            </a>
        </div>
        <div class="table-responsive">
            <table id="dataTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Acciones</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Código Postal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city in ciudades %}   
                    <tr>
                        <td>
                            <a href="{% url 'city:city_edit' city.id %}" class="btn btn-primary">
                                <i class="bi bi-pencil-square"> </i>
                            </a>
                            <a href="{% url 'city:city_delete' city.id %}" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <td>{{ city.id }}</td>
                        <td>{{ city.nombre_ciudad }}</td>
                        <td>{{ city.codigo_postal }}</td>
                    </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static '/base/vendor/jquery/jquery.js' %}"></script>

<script>
    $(document).ready(function() {
        // Inicialización de DataTables
        $('#dataTable').DataTable();
    });
</script>

{% endblock %}
