{% extends 'base/base.html' %}
{% block contenido %}
   

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Formulario de Proveedores</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                    {{ form.nombre }}
                    
                    {% if form.nombre.errors %}
                    <div class="text-danger">
                        {{ form.nombre.errors }}
                    </div>
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
                    {{ form.apellido }}
                    
                    {% if form.apellido.errors %}
                    <div class="text-danger">
                        {{ form.apellido.errors }}
                    </div>
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="{{ form.nombre_de_empresa.id_for_label }}">Nombre de la Empresa:</label>
                    {{ form.nombre_de_empresa }}

                    {% if form.nombre_de_empresa.errors %}
                    <div class="text-danger">
                        {{ form.nombre_de_empresa.errors }}
                    </div>
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="{{ form.telefono.id_for_label }}">Telefono:</label>
                    {{ form.telefono }}

                    {% if form.telefono.errors %}
                    <div class="text-danger">
                        {{ form.telefono.errors }}
                    </div>
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="{{ form.direccion.id_for_label }}">Direccion:</label>
                    {{ form.direccion }}

                    {% if form.direccion.errors %}
                    <div class="text-danger">
                        {{ form.direccion.errors }}
                    </div>
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="{{ form.correo_electronico.id_for_label }}">Correo Electronico:</label>
                    {{ form.correo_electronico }}

                    {% if form.correo_electronico.errors %}
                    <div class="text-danger">
                        {{ form.correo_electronico.errors }}
                    </div>
                    {% endif %}

                </div>
               

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            <div class="table table-striped"></div>
    <a href="{% url 'suppliers:home_suppliers' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</div>


{% endblock %}
