{% extends 'base/base.html' %}
{% block contenido %}

<div class="card">
<div class="card-body">
    <h1>¿Estás seguro que deseas eliminar este Descuento o Promocion?</h1>

    {% if tiene_productos %}
            <div class="alert alert-danger" role="alert">
                No puedes eliminar esta devolución porque está vinculada con uno o más Detalles de Productos.
            </div>
        {% endif %}
   
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Nombre de Promocion o Descuento:</label>
            <input type="text"  class="form-control" value="{{discprom.nombrepromocion_descuento}}" disabled>
        </div>    
        <div class="form-group">
            <label for="">Porcentaje de Promocion o Descuento:</label>
            <input type="text" class="form-control" value="{{discprom.porcentaje}}" disabled>
        </div>
        <div class="form-group">
            <label for="">Descuento o Promocion:</label>
            <input type="text" class="form-control" value="{{discprom.promocion_descuento}}" disabled> 
        </div>

        <input type="submit" value="Eliminar" class="btn btn-danger{% if tiene_productos %} disabled{% endif %}">
    </form>
   <div class="table table-striped"></div>
    <a href="{% url 'discprom:home_discprom' %}" class="btn btn-primary">Cancelar</a>
</div>
</div>

{% endblock %}