{% extends 'base\base.html' %}
{% block estilos %}
    
{% endblock %}
{% block contenido %}
    
<div class="card">
    <h5 class="card-header card text-white bg-primary mb-3">Productos Registrados</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
   
    <div>
        <a href="{% url 'products:products_create' %}" class="btn btn-success">
            <i class="bi bi-person-add"></i>
            Agregar Productos
        </a>
    </div>
    <div class="table table-striped"></div>
    <table id="dataTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha de Vencimiento</th>
                <th>Precio del Producto</th>
                <th>Categoria</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
        {% for Products in productos %}   
            <tr>
                <td>
                    <a href="{% url 'products:products_edit' Products.id %}" class="btn btn-primary">
                        <i class="bi bi-pencil-square"> </i>
                        
                    </a>
                    <a href="{% url 'products:products_delete' Products.id %}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                        
                    </a>
                </td>
                <td>{{Products.id}}</td>
                <td>{{Products.nombre}}</td>
                <td>{{Products.descripcion}}</td>
                <td>{{Products.fecha_de_vencimiento|date:"d/m/Y"}}</td>
                <td>{{Products.precio}}</td>
                <td>{{ Products.categoria.nombre}}</td>
                <td>{{ Products.proveedor.nombre_de_empresa }}</td>
            </tr>
        {% endfor %}   
        </tbody>
    </table>
</div>
</div>


{% load static %}
<script src="{% static '/base/vendor/jquery/jquery.js' %}"></script>

<script>
    $(document).ready(function() {

        // Call the dataTables jQuery plugin
        $(document).ready(function() {
        $('#dataTable').DataTable();
  });
  
    });
</script>



{% endblock %}
