{% extends 'base/base.html' %}
{% block contenido %}
   

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Formulario de CAI</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="">Nombre Empresa:</label>
                    {{ form.nombre_empresa }}

                    {% if form.nombre_empresa.errors %}
                    <div class="text-danger">
                        {{ form.nombre_empresa.errors }}
                    </div>
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="">CAI:</label>
                    {{ form.cai }}
                    
                    {% if form.cai.errors %}
                    <div class="text-danger">
                        {{ form.cai.errors }}
                    </div>
                    {% endif %}

                </div>
                
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            <div class="table table-striped"></div>
            <a href="{% url 'cai:home_cai' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</div>
{% endblock %}
