{% extends 'base/base.html' %}
{% block contenido %}

<div class="card">
<div class="card-body">
    <h1>¿Estás seguro de que deseas eliminar este CAI?</h1>
   

    {% if tiene_productos %}
            <div class="alert alert-danger" role="alert">
                No puedes eliminar esta devolución porque está vinculada con uno o más Ordenes.
            </div>
        {% endif %}

        
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Nombre Empresa:</label>
            <input type="text"  class="form-control" value="{{cai.nombre_empresa}}" disabled>
        </div>    
        <div class="form-group">
            <label for="">CAI:</label>
            <input type="text" class="form-control" value="{{cai.cai}}" disabled>
        </div>
        
       
        <input type="submit" value="Eliminar" class="btn btn-danger{% if tiene_productos %} disabled{% endif %}">
    </form>
   <div class="table table-striped"></div>
    <a href="{% url 'cai:home_cai' %}" class="btn btn-primary">Cancelar</a>
</div>
</div>
{% endblock %}
