{% extends 'base\base.html' %}
{% block estilos %}
    
{% endblock %}
{% block contenido %}
    
<div class="card">
    <h5 class="card-header card text-white bg-primary mb-3">Detalle de Ordenes Registradas</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
   
    <div>
        <a href="{% url 'orderdetail:orderdetail_create' %}" class="btn btn-success">
            <i class="bi bi-person-add"></i>
            Agregar Detalles de Ordenes
        </a>
    </div>
    <div class="table table-striped"></div>
    <table id="dataTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>ID</th>
                <th>Numero de Orden</th>
                <th>Nombre de Producto</th>
                <th>Cantidad</th>
                <th>Descripcion</th>
                <th>Precio Unitario</th>
            </tr>
        </thead>
        <tbody>
        {% for OrderDetail in orderdetail %}   
            <tr>
                <td>
                    <a href="{% url 'orderdetail:orderdetail_edit' OrderDetail.id %}" class="btn btn-primary">
                        <i class="bi bi-pencil-square"> </i>
                        
                    </a>
                    <a href="{% url 'orderdetail:orderdetail_delete' OrderDetail.id %}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                        
                    </a>
                </td>
                <td>{{OrderDetail.id}}</td>
                <td>{{OrderDetail.num_order.num_order}}</td>
                <td>{{OrderDetail.nombre_product.nombre}}</td>
                <td>{{OrderDetail.cantidad}}</td>
                <td>{{OrderDetail.descripcion}}</td>
                <td>{{OrderDetail.precio_unitario}}</td>
            </tr>
        {% endfor %}   
        </tbody>
    </table>
</div>
</div>

{% load static %}
<script src="{% static '/base/vendor/jquery/jquery.js' %}"></script>

<script>
    $(document).ready(function() {

        // Call the dataTables jQuery plugin
        $(document).ready(function() {
        $('#dataTable').DataTable();
  });
  
    });
</script>

{% endblock %}
